{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class="container">
  <!-- row1 picture -->
        <h1>Pictures of coffee</h1>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-6">
            <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/04LDEYRW59.jpg" class="img-thumbnail">
            <h6>Coffee 1</h6>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-6">
            <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/90V03Q5Y60.jpg" class="img-thumbnail">
            <h6>Coffee 2</h6>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-6">
            <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/O83SF2RB6D.jpg" class="img-thumbnail">
            <h6>Coffee 3</h6>
          </div>
<!-- row2 picture       -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
          <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/5JVPSVP7EI.jpg" class="img-thumbnail">
          <h6>Coffee 4</h6>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
          <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/C5Y10KIIHA.jpg" class="img-thumbnail">
          <h6>Coffee 5</h6>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
          <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/YSSFRY5B25.jpg" class="img-thumbnail">
          <h6>Coffee 6</h6>
        </div>
    </div>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
      <br>
      <br>
  </form>
</div>
{% endblock %}
